<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti.intake40.tripguide">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".model.FireBaseSettings"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".floatingpoint.FloatingViewService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".floatingpoint.ShowMap"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".floatingpoint.NotesDialogu"
            android:theme="@style/NoActionBarForDialog" />
        <activity android:name=".addNote.AddNote" />
        <activity
            android:name=".home.Home"
            android:theme="@style/AppTheme.noActionBar" />
        <activity android:name=".addTrip.AddTrip" />
        <activity
            android:name=".login.Login"
            android:theme="@style/AppTheme.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.SignUpActivity"
            android:theme="@style/AppTheme.noActionBar" />
    </application>

</manifest>